## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
binning_counts = application_df['APPLICATION_TYPE'].value_counts()
binning_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cut_off_value = 528
application_types_to_replace = list(binning_counts[binning_counts < cut_off_value].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count.iloc[classification_count.values > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cut_off_value_classsification = 1883
classifications_to_replace = list(classification_count[classification_count< cut_off_value_classsification].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Display the datatypes of the dataframe
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [10]:
# Seperate the categorical data
categorical_list = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
categorical_list

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_df = pd.get_dummies(application_df)
numeric_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = numeric_df["IS_SUCCESSFUL"]
X = numeric_df.drop(["IS_SUCCESSFUL"],axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
X_train_scaled[0]

array([ 0.01394306, -0.03348439, -0.08918651, -0.12647487, -0.1803104 ,
       -1.93323172, -0.21721176, -0.18886807,  5.27316518, -0.14490076,
       -0.14712247,  1.08678841, -0.04500615, -1.07924659, -0.03180805,
       -0.00623504, -0.01972038, -1.00913832, -0.4053369 ,  2.1506258 ,
       -0.24198608, -0.24360198, -0.26416456, -0.10807635, -0.06215637,
       -0.00881785, -2.13840836,  2.25801349, -0.65203708, -0.11744636,
       -0.033595  ,  0.67506919,  0.63795776, -0.14849557, -0.12694995,
       -0.32918556, -0.08347349, -0.16981325, -0.35186578, -0.06401969,
       -0.06987849,  0.02789425, -0.02789425])

## Compile, Train and Evaluate the Model

In [15]:
# Trial 1
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_node_layer1 = 8
hidden_node_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_node_layer1, input_dim =number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_node_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403 (1.57 KB)
Trainable params: 403 (1.57 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy",optimizer="Adam",metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 2ms/step - loss: 0.6133 - accuracy: 0.6823
Epoch 2/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5740 - accuracy: 0.7145
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5666 - accuracy: 0.7171
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5637 - accuracy: 0.7200
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5621 - accuracy: 0.7204
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5613 - accuracy: 0.7200
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5601 - accuracy: 0.7214
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5596 - accuracy: 0.7211
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5588 - accuracy: 0.7213
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5586 - accuracy: 0.7224
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5582 - accuracy: 0.7224
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5583 - accuracy: 0.7222
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5578 - accuracy: 0.7225
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5574 - accuracy: 0.7227
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5575 - accuracy: 0.7224
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7227
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5569 - accuracy: 0.7221
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7226
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7227
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5566 - accuracy: 0.7222
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5565 - accuracy: 0.7231
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7232
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7233
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7235
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7235
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5557 - accuracy: 0.7233
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5558 - accuracy: 0.7229
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7241
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7239
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7244
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7241
Epoch 32/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5553 - accuracy: 0.7243
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5553 - accuracy: 0.7241
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7253
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7243
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7257
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7250
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5549 - accuracy: 0.7253
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5547 - accuracy: 0.7258
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5545 - accuracy: 0.7259
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7250
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7247
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7249
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5544 - accuracy: 0.7250
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5540 - accuracy: 0.7259
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7252
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5540 - accuracy: 0.7253
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7258
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7245
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7255
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5540 - accuracy: 0.7248
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7261
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5540 - accuracy: 0.7259
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5536 - accuracy: 0.7257
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7257
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5542 - accuracy: 0.7247
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5534 - accuracy: 0.7261
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7248
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7258
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5534 - accuracy: 0.7259
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7261
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5533 - accuracy: 0.7270
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5533 - accuracy: 0.7266
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7266
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7252
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7264
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7269
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5532 - accuracy: 0.7261
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5529 - accuracy: 0.7269
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7264
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7258
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7252
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7266
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7271
Epoch 75/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5531 - accuracy: 0.7266
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7266
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7265
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7259
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7265
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7259
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5529 - accuracy: 0.7269
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5528 - accuracy: 0.7270
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7267
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7261
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7261
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7261
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5529 - accuracy: 0.7269
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5529 - accuracy: 0.7271
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7255
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7269
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7263
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7275
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7266
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5528 - accuracy: 0.7268
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5527 - accuracy: 0.7264
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7266
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7269
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7271
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5527 - accuracy: 0.7266
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5528 - accuracy: 0.7265

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5569 - accuracy: 0.7184 - 540ms/epoch - 2ms/step
Loss: 0.5569453239440918, Accuracy: 0.718367338180542

In [21]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_trial1.h5")